//Color variables
$color-primary-green: #20b778;

//Layout variables
$container-width: 800px;

//Tick animation variables
$tick-container-sizing: 50px;
$animation-stroke-dash: 1000;

//Card variables
$card-container: 450px;
$card-banner-height: 65px;

//padding variables
$grid-gutter-width: 40px;

//Typography variables
$body-copy-font: 16px;
$body-copy-line-height: 24px;