.tick-container {
	width: $tick-container-sizing;
	height: $tick-container-sizing;
	display: block;
	margin: 0 auto; 

	.path-circle {
		stroke-dasharray: $animation-stroke-dash;
		stroke-dashoffset: $animation-stroke-dash;
		stroke-width: 2px;
		animation: tick-border-animate 3s linear forwards;
		animation-delay: 0.5s; 
	}

	.path-tick {
		stroke-dasharray: $animation-stroke-dash;
		stroke-dashoffset: $animation-stroke-dash;
		stroke-width: 2px;
		animation: tick-animate 9s ease-out forwards;
		animation-delay: 1s; 
	}
}


@keyframes tick-border-animate {
	from {
		stroke-dashoffset: $animation-stroke-dash; 
	}
	
	to {
		stroke-dashoffset: 0; 
	} 
}

@keyframes tick-animate {
	from {
		stroke-dashoffset: $animation-stroke-dash; 
	}
	to {
		stroke-dashoffset: 0; 
	} 
}